* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    @media screen and (min-width: 992px) {
        height: 500px;
        margin-top: 200px;
    }
}
.title {
    width: 20vw;
    font-size: 22px;
    height: 100px;
    line-height: 1;
    text-align: center;
    @media screen and (min-width: 992px) {
        height: 500px;
        line-height: 500px;
    }
}
.container {
    scroll-behavior: smooth;
    width: 80vw;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    @media screen and (min-width: 992px) {
        height: 500px;
    }
}
.item {
    flex: 0 0 auto;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    @media screen and (min-width: 992px) {
        min-height: 500px;
        min-width: 500px;
    }
}
.item img {
    width: 100%;
    height: 100px;
    @media screen and (min-width: 992px) {
        height: 500px;
    }
}
::-webkit-scrollbar {
    display: none;
}